<div class="row">
    <div class="col-12">
        <h1></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()">
          <label> Name: <input type="text" [(ngModel)]="name" name="name" required>
          </label>
          <br>
          <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
          </label>
          <br>
          <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
          </label>
          <br>
          <button type="submit">Submit</button>
        </form>
    </div>
</div>
